*{
    padding: 0;
    margin: 0;
}
h1{
    text-align: center;
}
h2{
    color: #b2b2b2;
}
span{
    color: #febe01;
}
p{
    color: #b2b2b2;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.carroAVenda{
    align-items: center;
    height: fit-content;
    width: 20%;
    margin: 10px;
    padding: 20px;
    background: #111;
    border-radius: 4px;
    margin-top: 10px;
}
button{
    margin: 10px;
    margin-left: 0%;
    padding: 10px;
    border-radius: 4px;
    background-color: #febe01;;
}